In [1]:
import pandas as pd
f=pd.read_excel('C:/Users/Amera/Desktop/Data bases/attendance.xls',header=1)
f.head()

,"Total elementary, secondary, and combined elementary/secondary schools",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Elementary schools,Unnamed: 9,Unnamed: 10,Unnamed: 11,Secondary schools,Unnamed: 13,Unnamed: 14,Unnamed: 15
NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993

In [20]:
new_header = f.iloc[0]
f = f[1:]
f.columns = new_header
f.head()

Florida .................,92.678174,0.741328,6.42749,0.084127,184.0,1.200181,1183.5712,18.8174,93.962499,0.935657,6.463525,0.05499,89.906731,1.429644,6.317011,0.377265
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Georgia .................,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
Hawaii ..................,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
Idaho ...................,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
Illinois ................,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404

In [28]:
f.dropna()

Florida .................,92.678174,0.741328,6.42749,0.084127,184.0,1.200181,1183.5712,18.8174,93.962499,0.935657,6.463525,0.05499,89.906731,1.429644,6.317011,0.377265
Georgia .................,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
Hawaii ..................,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
Idaho ...................,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
Illinois ................,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404
Indiana .................,95.6746,0.510953,6.77208,0.062664,180,0.293324,1221.84,11.4011,95.8824,0.608187,6.71015,0.067023,95.0476,0.742807,6.96317,0.089091
Iowa ....................,94.7606,0.645329,6.85364,0.088878,180,0.198761,1232.16,16.2713,96.2859,0.464240,6.89253,0.073588,90.4463,2.32932,6.64382,0.297336
Kansas ..................,95.3508,0.518303,6.98152,0.073274,178,0.633207,1240.07,14.6755,95.897,0.532599,6.98478,0.092847,94.6401,0.352401,7.00631,0.069329
Kentucky ................,93.0681,1.893770,6.68771,0.058200,180,1.074857,1201.77,11.8224,93.9503,2.555089,6.70708,0.079091,91.4904,2.87798,6.70971,0.089078
Louisiana ...............,90.3495,2.310309,7.07677,0.077571,178,0.962000,1262.86,14.9237,91.5498,3.190268,6.95146,0.104969,88.0394,1.81895,7.26485,0.116807
Maine ...................,90.3036,2.409541,6.47134,0.064845,176,0.225253,1138.8,11.1675,90.3254,3.175706,6.54515,0.078724,89.5276,1.58029,6.23848,0.143481
Maryland ................,94.1037,0.439791,6.58861,0.072328,180,0.362775,1187.96,13.8137,95.2587,0.372772,6.65203,0.055013,90.1805,1.19629,6.39479,0.317211
Massachusetts ...........,94.5963,0.579249,6.45064,0.051428,180,0.068994,1162.68,9.3420,95.87,0.281920,6.39719,0.058120,89.6125,2.66497,6.61977,0.103123
Michigan ................,92.9685,1.011628,6.56221,0.076225,178,0.903239,1168.21,13.2329,94.5288,1.119723,6.70579,0.066873,88.7778,2.06342,6.21481,0.204946
Minnesota ...............,93.146,0.908900,6.28035,0.121614,176,1.417200,1101.86,19.7642,94.7814,1.220212,6.50822,0.063133,93.2378,0.818993,6.30476,0.128575
Mississippi .............,92.0911,1.996271,6.99492,0.122474,181,0.194161,1264.57,22.4842,95.0558,0.334469,7.06205,0.070032,92.91,0.762194,6.81782,0.370673
Missouri ................,94.8234,0.260989,6.6985,0.052192,177,0.987228,1184.21,11.2796,95.6454,0.319035,6.7709,0.075069,92.7646,0.53806,6.51251,0.109776
Montana .................,91.3253,1.394940,6.78815,0.054423,179,0.345266,1218,10.3412,92.1247,1.857466,6.73114,0.076765,95.2573,0.659121,6.75698,0.087259
Nebraska ................,94.9442,1.214149,6.92428,0.080869,178,0.727576,1229.42,14.1710,95.5139,1.959975,6.85609,0.077880,95.2374,0.367354,6.71184,0.43694
Nevada ..................,93.5151,1.274028,6.30472,0.056042,180,0.178129,1134.64,10.1345,93.2198,1.724913,6.30913,0.059300,94.8405,0.736088,6.26562,0.14256
New Hampshire ...........,92.2074,1.754847,6.54072,0.063014,180,0.048457,1178.18,11.2351,92.5451,2.120287,6.4741,0.035447,90.3873,3.28455,6.80513,0.113535
New Jersey ..............,94.6104,0.593407,6.441,0.051120,181,0.356345,1167.49,8.8999,95.5184,0.465409,6.42211,0.061848,91.6625,1.73682,6.52887,0.08978
New Mexico ..............,91.8733,1.764860,6.84617,0.078588,177,1.426564,1208.99,13.2985,92.2788,2.385688,6.74511,0.090996,90.1029,2.11624,7.05618,0.120285
New York ................,92.7354,1.302509,6.58606,0.085583,182,0.385996,1201.57,16.1519,94.4489,0.613896,6.4672,0.122943,90.8198,3.15359,6.94432,0.062449
North Carolina ..........,92.5931,1.728306,6.74883,0.059490,180,0.060545,1215.64,10.7440,93.3407,2.330890,6.73988,0.074855,90.7752,1.77504,6.82943,0.091997
North Dakota ............,95.9212,0.588245,6.58249,0.038108,176,0.441778,1161.39,7.3662,96.5272,0.306219,6.5144,0.040640,92.8834,2.51123,6.76527,0.069815
Ohio ....................,91.7806,2.005199,6.60656,0.096734,180,0.319711,1190.52,18.4531,91.6869,2.766763,6.57946,0.111114,92.8262,1.61815,6.64843,0.213482
Oklahoma ................,92.0575,2.241093,6.62873,0.058455,176,0.193334,1166.15,10.4225,90.8046,3.477207,6.69344,0.049616,93.716,0.656603,6.5126,0.195214
Oregon ..................,94.4014,0.591843,6.56541,0.056808,172,1.474504,1130.03,10.6379,95.0314,0.240592,6.52539,0.051206,92.9188,1.36643,6.5591,0.138652
Pennsylvania ............,94.8806,0.392465,6.42794,0.123120,181,0.282291,1162.7,22.2244,95.3644,0.456340,6.47271,0.090435,94.1435,0.883882,6.35327,0.396725
Rhode Island ............,93.7365,1.267272,6.27171,0.031661,180,0.092194,1131.1,5.6457,94.2322,1.628417,6.24175,0.036296,‡,(†),‡,(†)
South Carolina ..........,94.8972,0.714842,6.92488,0.069953,181,0.427131,1251.54,12.6797,95.767,0.732163,6.97315,0.048151,91.8761,1.90232,6.78377,0.253193
South Dakota ............,93.6406,2.533928,6.82809,0.079889,173,0.854924,1179.91,10.0969,93.2118,3.779123,6.84429,0.098693,‡,(†),‡,(†)
Tennessee ...............,94.9425,0.227754,7.02813,0.054076,180,0.330222,1265.15,9.8424,95.5737,0.246806,7.0359,0.071533,93.4541,0.788111,7.02342,0.028951
Texas ...................,94.0868,1.335309,7.17318,0.108078,180,0.796808,1288.88,18.8107,95.6819,1.614634,7.16933,0.098598,89.6515,3.43487,7.05743,0.162884
Utah ....................,91.3674,1.557600,6.28167,0.286143,182,6.237453,1142.1,33.3865,93.77,1.792894,6.53264,0.089300,87.1377,3.4221,5.85581,0.551016
Vermont .................,92.726,3.392472,6.65638,0.073960,177,0.457090,1179.45,13.5836,93.0812,4.498027,6.71647,0.090426,90.7783,4.08082,6.4075,0.176015
Virginia ................,94.678,0.460467,6.61718,0.050234,181,0.159185,1197.33,9.1034,95.5969,0.349639,6.61113,0.032699,93.9422,0.5841,6.67654,0.187479
Washington ..............,82.8556,3.056990,6.22202,0.080353,179,0.173674,1116.54,14.4906,81.047,4.416025,6.37864,0.045202,85.7672,2.75371,5.89289,0.266992
West Virginia ...........,94.0098,0.987722,6.87364,0.070124,182,0.497818,1251.23,13.6853,94.3742,1.315128,6.87959,0.093158,92.846,0.408932,6.82534,0.136584
Wisconsin ...............,94.9509,0.566144,6.91175,0.042731,180,0.736128,1246.48,8.6319,95.376,0.414753,6.88687,0.048538,93.0196,1.90793,7.01951,0.144539
Wyoming .................,92.353,1.154487,6.85867,0.045848,175,1.278829,1200.93,8.3266,92.1909,1.647681,6.85061,0.054651,92.3894,0.749597,6.97859,0.0679

In [29]:
table = pd.pivot_table(f, values=['ADA as percent of enrollment', 'Average hours in school day','Average days in school year','ADA as percent of enrollment','Average hours in school day','ADA as percent of enrollment','Average hours in school day'])
f.head()

KeyError: 'ADA as percent of enrollment'

In [33]:
import pandas as pd
m=pd.read_excel('C:/Users/Amera/Desktop/Data bases/mbta.xlsx',header=1)
m.head()

,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,...,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
1,All Modes by Qtr,NaN,NaN,1187.653,NaN,NaN,1245.959,NaN,NaN,1256.571,...,NaN,NaN,1223.452,NaN,NaN,1302.414,NaN,NaN,1290.549,NaN
2,Boat,4.000,3.600,40.000,4.300,4.900,5.800,6.521,6.572,5.469,...,3.140,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
3,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,...,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
4,Commuter Rail,142.200,138.500,137.700,139.500,139.000,143.000,142.391,142.364,143.051,...,128.396,125.463,134.374,134.169,136.140,135.581,132.410,130.616,136.901,128.720
5,Heavy Rail,435.294,448.271,458.583,472.201,474.579,477.032,471.735,461.605,499.566,...,468.418,504.068,516.730,528.631,528.122,529.528,532.888,508.145,550.137,554.932

In [34]:
m.isna()

,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,...,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
1,False,True,True,False,True,True,False,True,True,False,...,True,True,False,True,True,False,True,True,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
m.dropna()

,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,...,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
2,Boat,4.000,3.600,40.000,4.300,4.900,5.800,6.521,6.572,5.469,...,3.140,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
3,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,...,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
4,Commuter Rail,142.200,138.500,137.700,139.500,139.000,143.000,142.391,142.364,143.051,...,128.396,125.463,134.374,134.169,136.140,135.581,132.410,130.616,136.901,128.720
5,Heavy Rail,435.294,448.271,458.583,472.201,474.579,477.032,471.735,461.605,499.566,...,468.418,504.068,516.730,528.631,528.122,529.528,532.888,508.145,550.137,554.932
6,Light Rail,227.231,240.262,241.444,255.557,248.262,246.108,243.286,234.907,265.748,...,198.450,219.886,227.935,242.280,225.776,221.865,231.010,220.164,244.949,237.768
7,Pct Chg / Yr,0.020,-0.040,0.114,-0.002,0.049,0.096,-0.037,0.004,-0.007,...,-0.028,0.008,0.050,0.036,0.050,0.054,0.067,0.052,0.043,0.032
8,Private Bus,4.772,4.417,4.574,4.542,4.768,4.722,3.936,3.946,4.329,...,2.213,2.570,2.559,2.762,2.776,2.815,2.671,2.655,2.843,2.967
9,RIDE,4.900,5.000,5.500,5.400,5.400,5.600,5.253,5.308,5.609,...,6.735,7.463,8.387,8.145,8.059,8.377,7.902,8.071,8.318,8.598
10,Trackless Trolley,12.757,12.913,13.057,13.444,13.479,13.323,13.311,13.142,14.393,...,11.104,11.695,12.601,12.599,12.291,12.128,11.060,11.091,12.332,12.297
11,TOTAL,1166.974,1191.639,1204.725,1247.105,1244.755,1246.129,1243.952,1223.323,1310.764,...,1153.413,1220.663,1286.660,1313.283,1302.884,1292.085,1286.107,1241.268,1348.754,1348.222

In [51]:
s=pd.read_csv("C:/Users/Amera/Desktop/Data bases/sales.csv",encoding = "ISO-8859-1")  
s.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
s.isna()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
2,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
5,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
6,False,False,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,True,False,True,True
7,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
8,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
9,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
10,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
12,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
13,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
14,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
15,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
16,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
17,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
18,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
19,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
20,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
21,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
22,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
23,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
24,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
25,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
26,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
27,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
28,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
29,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
4971,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4972,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4973,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4974,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,False,True,True,True,True
4975,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4976,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4977,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4978,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4979,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4980,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4981,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4982,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4983,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4984,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4985,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4986,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4987,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4988,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4989,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4990,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4991,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4992,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,True
4993,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4994,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4995,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4996,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4997,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
4998,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,True
4999,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [53]:
s.dropna()

Empty DataFrame
Columns: [Unnamed: 0, event_id, primary_act_id, secondary_act_id, purch_party_lkup_id, event_name, primary_act_name, secondary_act_name, major_cat_name, minor_cat_name, la_event_type_cat, event_disp_name, ticket_text, tickets_purchased_qty, trans_face_val_amt, delivery_type_cd, event_date_time, event_dt, presale_dt, onsale_dt, sales_ord_create_dttm, sales_ord_tran_dt, print_dt, timezn_nm, venue_city, venue_state, venue_postal_cd_sgmt_1, sales_platform_cd, print_flg, la_valid_tkt_event_flg, fin_mkt_nm, web_session_cookie_val, gndr_cd, age_yr, income_amt, edu_val, edu_1st_indv_val, edu_2nd_indv_val, adults_in_hh_num, married_ind, child_present_ind, home_owner_ind, occpn_val, occpn_1st_val, occpn_2nd_val, dist_to_ven]
Index: []

[0 rows x 46 columns]

In [75]:
columns_nun=s.dropna(axis=1)
columns_nun.head()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,...,event_date_time,event_dt,sales_ord_tran_dt,timezn_nm,venue_city,venue_postal_cd_sgmt_1,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,...,2015-09-12 23:30:00,2015-09-12,2015-09-11,EST,MANSFIELD,02048,T,N,Boston,7dfa56dd7d5956b17587
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,...,2009-09-05 01:00:00,2009-09-04,2009-07-05,PST,QUINCY,98848,T,N,Seattle,4f9e6fc637eaf7b736c2
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,...,2006-04-22 01:30:00,2006-04-21,2006-04-05,MST,PHOENIX,85003,T,N,Arizona,6c2545703bd527a7144d
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,...,2011-09-03 00:00:00,2011-09-02,2011-07-01,CST,DALLAS,75210,T,N,Dallas,527d6b1eaffc69ddd882
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,Premier Parking - motley crue,...,2005-07-31 01:00:00,2005-07-30,2005-06-18,PST,AUBURN,98092,T,N,Seattle,8bd62c394a35213bdf52

In [73]:
import pandas as pd
n=pd.read_csv('C:/Users/Amera/Desktop/Data bases/null.csv')
n.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [74]:
n["MultipleLines"]= "no"
n["PaperlessBilling"]= "yes"
n.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,no,DSL,No,...,No,No,No,No,Month-to-month,yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,no,DSL,Yes,...,Yes,No,No,No,One year,yes,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,no,DSL,Yes,...,No,No,No,No,Month-to-month,yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,no,DSL,Yes,...,Yes,Yes,No,No,One year,yes,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,no,Fiber optic,No,...,No,No,No,No,Month-to-month,yes,Electronic check,70.70,151.65,Yes